@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1200px;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.container-header {
  width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 24px, #f7e296 25px, #f7e296 100%);
}

.main-navigation--index {
  min-height: 323px;
}

.page-header {
  margin-top: 16px;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
}

.page-header__logo {
  display: inline-block;
  margin-bottom: 10px;

  vertical-align: top;
}

.page-header__logo,
.footer-navigation__logo {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
}

.page-header__logo:hover,
.footer-navigation__logo:hover,
.form-search__input:hover,
.user-navigation li:hover {
  opacity: 0.6;
}

.page-header__logo:active,
.footer-navigation__logo:active,
.user-navigation li:active {
  opacity: 0.3;
}

.form-search {
  position: relative;

  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 440px;
  margin-right: 100px;
}

.form-search::before {
  content: '';

  position: absolute;
  top: 17px;
  left: 3px;

  width: 16px;
  height: 16px;

  background: url('../img/search.svg') no-repeat 0 0;
}

.form-search__input {
  flex-grow: 1;
  padding-left: 38px;

  font-weight: normal;

  opacity: 0.3;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}


.form-search__input:focus {
  opacity: 1;
  border-bottom: 2px solid #000000;
}

.form-search__input:focus ~.form-search__submit {
  opacity: 1;
}

.form-search__submit {
  padding-top: 7px;
  padding-right: 17px;
  padding-bottom: 7px;
  padding-left: 18px;

  line-height: 30px;

  background-color: transparent;
  border: 2px solid #000000;
  opacity: 0;
}

.form-search__submit:hover {
  color: #ffffff;
  background-color: #000000;
}

.form-search__submit:active {
  background-color: red;
}

.user-navigation__login {
  position: relative;

  padding-left: 27px;
}

.user-navigation__profile {
  position: relative;

  padding-left: 27px;
}

.user-navigation__profile::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;

  width: 13px;
  height: 13px;

  background: url('../img/user.svg') no-repeat 0 0;
}

.user-navigation__login::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;

  width: 13px;
  height: 13px;

  background: url('../img/user.svg') no-repeat 0 0;
}

.user-navigation__logout {
  margin-left: 18px;

  opacity: 0.3;
}

.user-navigation__logout:hover {
  opacity: 0.6;
}

.user-navigation__logout:active {
  opacity: 0.1;
}

.user-navigation__basket {
  position: relative;

  padding-left: 25px;
  margin-left: 40px;
}

.user-navigation__basket::before {
  position: absolute;
  top: 9px;
  left: 1px;

  width: 12px;
  height: 12px;

  content: '';
  background: url('../img/cart.svg') no-repeat 0 0;
}

.user-navigation__compare {
  position: relative;

  padding-left: 25px;
}

.user-navigation__compare::before {
  position: absolute;
  top: 11px;
  left: 6px;

  width: 12px;
  height: 12px;

  content: '';
  background: url('../img/compare.svg') no-repeat 0 0;
}

.user-navigation,
.catalog {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-list__wrapper {
  position: absolute;

  display: none;
  width: 1040px;
  background-color: #f7e296;

  z-index: 100;
}

.catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 550px;
  max-height: 120px;
  margin-top: 21px;
  padding-bottom: 34px;
}

.navigation-list__wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: -60px;

  width: 1160px;
  height: 163px;

  background-color: #f7e296;
  z-index: -1;
}

.catalog li {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
}

.catalog li:nth-child(4),
.catalog li:nth-child(5){
  margin-left: 23px;
}

.catalog li:last-child {
  align-self: flex-end;
  height: 100px;
}

.navigation-list {
  padding: 0;
  margin: 0;
  padding-bottom: 50px;

  list-style: none;
}

.user-navigation a {
  color: #000000;
}

.user-navigation {
  display: flex;
}

.user-navigation--extra {
  margin-left: auto;
}

.navigation-list {
  display: flex;
}

.navigation-list__catalog {
  position: relative;

  width: 250px;
  margin-right: 290px;
}

.navigation-list__catalog:hover .navigation-list__wrapper {
  display: block;
}

.navigation-list__catalog::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 231px;

  width: 16px;
  height: 16px;

  background: url('../img/plus.svg') no-repeat 0 0;
  opacity: 0.3;
}

.navigation-list__item:last-child {
  margin-left: auto;
}

.navigation-list__item:nth-child(2) {
  width: 158px;
}

.navigation-list__item a {
  color: #000000;
}

.navigation-list__item {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-list__item a:hover {
  opacity: 0.6;
}

.navigation-list__item a:active {
  opacity: 0.3;
}

.catalog li {
  line-height: 36px;
}

.popular-goods {
  position: relative;

  margin-top: -110px;
}

.slider-input {
  display: none;
}

.slider-controls {
  position: absolute;
  top: 326px;
  right: 101px;

  display: flex;
  width: 80px;
  height: 12px;

  font-size: 0;

  z-index: 100;
}

.slider-controls__item {
  position: relative;

  width: 10px;
  height: 10px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls__item--1,
.slider-controls__item--2 {
  margin-right: 21px;
}

.slider-controls__item::after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 10px;
  height: 10px;

  border-radius: 50%;
  border: 1px solid #000000;
}

.slider-input__1:checked ~ .slider-controls .slider-controls__item--1::before,
.slider-input__2:checked ~ .slider-controls .slider-controls__item--2::before,
.slider-input__3:checked ~ .slider-controls .slider-controls__item--3::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;

  width: 3px;
  height: 3px;

  border: 1px solid #000000;
  border-radius: 50%;
}

.slider-input__1:checked ~ .goods .goods__item:first-child,
.slider-input__2:checked ~ .goods .goods__item:nth-child(2),
.slider-input__3:checked ~ .goods .goods__item:nth-child(3) {
  display: flex;
}

.goods {
  margin: 0;
  padding: 0;
  margin-bottom: 95px;

  list-style: none;
}

.goods__item {
  display: flex;
  justify-content: space-between;
}

.goods__item:first-child,
.goods__item:nth-child(2),
.goods__item:nth-child(3) {
  display: none;
}

.goods__wrapper-image {
  margin-left: 90px;
}


.goods__wrapper {
  position: relative;

  width: 500px;
  margin-right: 60px;
}

.goods__wrapper::before {
  content: '';
  position: absolute;
  top: 36px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.goods__number {
  position: absolute;
  top: -15px;
  right: -10px;

  margin: 0;
  padding: 0;

  font-size: 179px;
  line-height: 179px;

  color: #ffffff;
}

.goods__title {
  position: relative;

  margin: 0;
  margin-top: 80px;
  margin-bottom: 18px;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
  z-index: 1;
}

.goods__description {
  width: 480px;
  margin: 0;
  margin-bottom: 40px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
}

.goods__detailed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  min-width: 220px;

  vertical-align: top;
}

.goods__properties {
  margin-top: 50px;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table td {
  padding: 0;
}

.table tbody{
  display: flex;
  flex-direction: column-reverse;

  font-weight: normal;
}

.table__first-row td:first-child,
.table__second-row td:first-child {
  min-width: 160px;
}

.table__first-row td:nth-child(2),
.table__second-row td:nth-child(2) {
  min-width: 140px;
}

.table__first-row {
  margin-top: 8px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.table__second-row {
  font-size: 36px;
  line-height: 48px;
}

.button {
  position: relative;

  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 10px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
  border: none;

  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  left: 0;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;

  z-index: -1;
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.categories {
  margin-bottom: 81px;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.categories__item {
  width: 160px;

  font-size: 18px;
  line-height: 24px;
}

.categories__item a::before {
  content: '';
  display: block;

  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: rgba(240, 197, 46, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
}

.categories__item:hover a::before {
  background-color: #f0c52e;
}

.categories__item:first-child a::before {
  background-image: url('../img/popular-virtual-reality.svg');
}

.categories__item:first-child:active a::before {
  background-image: url('../img/popular-virtual-reality-opacity-0.3.svg');
}

.categories__item:nth-child(2) a::before {
  background-position: center bottom;
  background-image: url('../img/popular-monopod.svg');
}

.categories__item:nth-child(2):active a::before {
  background-image: url('../img/popular-monopod-opacity-0.3.svg');
}

.categories__item:nth-child(3) a::before {
  background-image: url('../img/popular-action-camera.svg');
}

.categories__item:nth-child(3):active a::before {
  background-image: url('../img/popular-action-camera-opacity-0.3.svg');
}

.categories__item:nth-child(4) a::before {
  background-image: url('../img/popular-fitness-bracelet.svg');
}

.categories__item:nth-child(4):active a::before {
  background-image: url('../img/popular-fitness-bracelet-opacity-0.3.svg');
}

.categories__item:nth-child(5) a::before {
  background-image: url('../img/popular-smart-watch.svg');
}

.categories__item:nth-child(5):active a::before {
  background-image: url('../img/popular-smart-watch-opacity-0.3.svg');
}


.categories__item:nth-child(6) a::before {
  background-image: url('../img/popular-quadcopter.svg');
}

.categories__item:nth-child(6):active a::before {
  background-image: url('../img/popular-quadcopter-opacity-0.3.svg');
}

.categories__item:nth-child(2) a {
  width: 120px;
}

.categories__item a {
  display: inline-block;

  vertical-align: top;

  color: #000000;
}

.categories__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  min-height: 389px;
  margin-bottom: 94px;

  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);
}

.services__wrapper {
  position: relative;

  display: flex;
}

.services__wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 277px;

  width: 7px;
  height: 319px;

  background-color: #000000;
}

.services__input {
  display: none;
}

.services__controls {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-top: 80px;
  margin-right: 120px;
}

.services__label {
  position: relative;

  width: 160px;
  padding-top: 9px;
  padding-bottom: 7px;
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;

  z-index: 1;
}

.services__label::before {
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  left: 0;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;

  z-index: -1;
}

.services__label:hover::before {
  top: 0;

  height: 100%;
}

.services__input--delivery:checked ~ .services__controls .services__label--delivery,
.services__input--guarantee:checked ~ .services__controls .services__label--guarantee,
.services__input--credit:checked ~ .services__controls .services__label--credit {
  color: #f7e184;
}

.services__input--delivery:checked ~ .services__controls .services__label--delivery::before,
.services__input--guarantee:checked ~ .services__controls .services__label--guarantee::before,
.services__input--credit:checked ~ .services__controls .services__label--credit::before {
  top: 0;

  height: 100%;
  width: 278px;

  background-color: #000000;
}

.services__input--delivery:checked ~ .services__list .services__item--delivery,
.services__input--guarantee:checked ~ .services__list .services__item--guarantee,
.services__input--credit:checked ~ .services__list .services__item--credit {
  opacity: 1;
}

.services__item {
  position: absolute;

  opacity: 0;
}

.services__input--delivery:checked ~ .services__list .services__item--delivery::after,
.services__input--guarantee:checked ~ .services__list .services__item--guarantee::after,
.services__input--credit:checked ~ .services__list .services__item--credit::after {
  opacity: 1;
}

.services__item--delivery::after {
  content: '';
  position: absolute;
  top: 13px;
  right: -250px;

  width: 136px;
  height: 164px;

  background: url('../img/delivery.svg') no-repeat 0 0;
  opacity: 0;
}

.services__item--guarantee::after {
  content: '';
  position: absolute;
  top: -12px;
  right: -270px;

  width: 171px;
  height: 194px;

  background: url('../img/warranty.svg') no-repeat 0 0;
  opacity: 0;
}

.services__item--credit::after {
  content: '';
  position: absolute;
  top: -12px;
  right: -245px;

  width: 156px;
  height: 186px;

  background: url('../img/credit.svg') no-repeat 0 0;
  opacity: 0;
}

.services__list {
  position: relative;

  width: 445px;
  margin: 0;
  margin-top: 73px;
  padding: 0;

  list-style: none;
}

.services__title {
  margin: 0;
  margin-bottom: 31px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.services__description {
  margin: 0;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.brands {
  margin-bottom: 93px;
}

.brands__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.brands__item {
  width: 260px;
}

.brands__link:hover .brands__image {
  filter: none;
}

.information {
  margin-bottom: 84px;
}

.information__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 560px;
}

.about-us {
  width: 487px;
}

.contacts {
  width: 560px;
}

.contacts,
.about-us {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-us::before,
.contacts::before {
  content: '';
  position: absolute;
  top: -11px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us__link,
.contacts__link {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: auto;
  width: 260px;

  vertical-align: top;
}

.about-us__title,
.contacts__title {
  margin: 0;
  margin-top: 41px;
  margin-bottom: 43px;

  font-size: 47px;
  line-height: 48px;
}

.about-us__text,
.about-us__text-more,
.contacts__text {
  margin: 0;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
}

.about-us__text {
  margin-bottom: 30px;
}

.about-us__text-more {
  margin-bottom: 71px;
}

.about-us__companies {
  margin: 0;
  padding: 0;
  padding-left: 35px;

  list-style: none;
}

.companies-list__item {
  position: relative;
}

.companies-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.companies-list__item::before {
  content: '';
  position: absolute;
  top: 11px;
  left: -35px;

  width: 4px;
  height: 4px;

  border-radius: 50%;
  border: 2px solid #e5e5e5;
}

.contacts__text {
  margin-bottom: 40px;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 55px;
  color: #ffffff;

  background-color: #464646;
}

.footer-navigation {
  display: flex;
}

.footer-navigation__logo {
  display: inline-block;

  vertical-align: top;
  color: #ffc600;
}

.footer-navigation__list {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
}

.footer-navigation__list a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
}

.footer-navigation__list--user {
  margin-left: auto;
}

.footer-navigation__list {
  display: flex;
}

.footer-navigation__login {
  position: relative;

  margin-right: 38px;
}

.footer-navigation__login::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -26px;

  width: 13px;
  height: 12px;

  background: url('../img/user-yellow.svg') no-repeat 0 0;
}

.footer-navigation__compare {
  position: relative;

  margin-right: 37px;
  padding-left: 25px;
}

.footer-navigation__compare::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 5px;

  width: 10px;
  height: 10px;

  background: url('../img/compare-yellow.svg') no-repeat 0 0;
}

.footer-navigation__basket {
  position: relative;

  padding-left: 25px;
}

.footer-navigation__basket::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 4px;

  width: 12px;
  height: 12px;

  background: url('../img/cart-yellow.svg') no-repeat 0 0;
}

.footer-navigation__list li{
  font-weight: normal;
  line-height: 36px;
  list-style: none;
  opacity: 0.7;
}

.footer-navigation__list li:hover {
  opacity: 1;
}

.footer-navigation__list li:active {
  opacity: 0.3;
}

.footer-navigation__list a,
.footer-services a {
  color: #ffffff;
}

.footer-navigation__profile {
  position: relative;

  margin-right: 20px;
}

.footer-navigation__profile::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -25px;

  width: 13px;
  height: 13px;

  background: url('../img/user-yellow.svg') no-repeat 0 0;
}

.footer-navigation__logout {
  margin-right: 38px;
}

.footer-navigation__logout a {
  opacity: 0.3;
}

.footer-information {
  display: flex;
  align-items: flex-end;
  margin-bottom: 63px;
}

.footer-address {
  margin: 0;
  width: 260px;
  margin-right: 107px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
}

.footer-services {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-services li:first-child {
  margin-right: 34px;
}

.footer-services li:nth-child(2) {
  margin-right: 32px;
}

.footer-services li {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-services li:hover {
  opacity: 0.6;
}

.footer-services li:active {
  opacity: 0.3;
}

.footer-phone {
  align-self: center;
  margin-left: auto;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.footer-links {
  position: relative;

  display: flex;
}

.footer-links::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 25px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-links__socials {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 509px;

  list-style: none;
}

.footer-links__socials li:first-child {
  margin-right: 23px;
}

.footer-links__socials li:nth-child(2) {
  margin-right: 22px;
}

.footer-links__button {
  opacity: 0.3;
}

.footer-links__button:hover {
  opacity: 0.6;
}

.footer-links__button:active {
  opacity: 0.1;
}

.footer-links__academy {
  margin-left: auto;
}

.footer-links__academy:hover {
  opacity: 0.6;
}

.footer-links__academy:active {
  opacity: 0.3;
}

.map-popup {
  display: none;
}

.map-popup__image {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.write-us {
  display: none;

  width: 960px;
  margin: 0 auto;
}

.write-us__form {
  width: 760px;
  margin: 0 auto;
}

.write-us__wrapper {
  display: flex;
  justify-content: space-between;
}

.write-us__wrapper p {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.write-us__text {
  display: flex;
  flex-direction: column;
}

.write-us__form label {
  font-size: 18px;
  line-height: 24px;
}

.write-us__name,
.write-us__email,
.write-us__textarea {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  background-color: #f2f2f2;
  border: none;
}

.write-us__name:hover,
.write-us__email:hover,
.write-us__textarea:hover {
  background-color: #eaeaea;
}

.write-us__name:focus,
.write-us__email:focus,
.write-us__textarea:focus {
  background-color: #ffffff;

  border: 3px solid #f0c52e;
}

.write-us__name:invalid,
.write-us__email:invalid {
  background-color: #f6dada;
}

.page-main__title {
  margin: 0;
  margin-top: 37px;
  margin-bottom: 21px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.page-main__breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;

  list-style: none;
}

.page-main__breadcrumbs li:first-child {
  margin-right: 36px;
}

.page-main__breadcrumbs li:nth-child(2) {
  margin-right: 38px;
}

.page-main__breadcrumbs li {
  position: relative;
}

.page-main__breadcrumbs li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 13px;
  right: -18px;

  width: 4px;
  height: 4px;
  transform: rotate(45deg);
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}

.page-main__breadcrumbs li:nth-child(2)::after {
  right: -21px;
}

.page-main__breadcrumbs a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  opacity: 0.3;
}

.page-main__breadcrumbs a:hover {
  opacity: 0.6;
}

.page-main__breadcrumbs a:active {
  opacity: 0.1;
}

.catalog-page {
  background: linear-gradient(to right, #dcdcdc 0%, #dcdcdc 20%, #eeeeee 50%, #eeeeee 100%);
}

.catalog-page__header {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.catalog-page__body {
  background: linear-gradient(to right, #eee 0%, #eee 20%, #fff 20%, #fff 100%);
}

.catalog-page__wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.filter,
.filters {
  box-sizing: border-box;
  width: 328px;
  padding-left: 60px;
}

.filter,
.sort__title {
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #dcdcdc;
}

.filters {
  padding-top: 69px;

  background-color: #eeeeee;
}

.filters__form legend {
 font-size: 18px;
 line-height: 24px;
}

.filters__fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.range__label {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.2;
}

.filters__list-colors,
.filters__list-bluetooth {
  font-weight: normal;
  font-size: 14px;
  list-style: none;
}

.filters__list-colors input:disabled ~ label,
.filters__list-bluetooth input:disabled ~ label{
  color: #a6a6a6;
}

.sort {
  display: flex;
  box-sizing: border-box;
  width: 830px;
  padding-left: 72px;
  padding-top: 23px;

  background-color: #eeeeee;
}

.sort__title {
  margin-right: 55px;
}

.sort__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 2px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
}

.sort__list a {
  color: #000000;
  opacity: 0.3;
}

.sort__list a:hover {
  opacity: 0.6;
}

.sort__list a:active {
  opacity: 1;
}

.sort__item:first-child {
  margin-right: 27px;
}

.sort__item:nth-child(2) {
  margin-right: 30px;
}

.sort__item--current a{
  opacity: 1;
}

.sort__link {
  position: relative;
  font-size: 0;
}

.sort__link::before {
  content: '';
  display: inline-block;

  border: 11px solid #000000;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;

  opacity: 0.2;
}

.sort__link:hover::before {
  opacity: 0.4;
}

.sort__link:active::before {
  opacity: 1;
}

.sort__link--up {
  margin-right: 14px;
}

.sort__link--up::before {
  border-top-width: 0;
}

.sort__link--down::before {
  border-bottom-width: 0;

  opacity: 1;
}

.sort__up-down {
  display: flex;
  margin: 0;
  margin-top: -2px;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.catalog-page__monopods {
  padding-top: 69px;
}

.monopods__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
  margin: 0;
  padding: 0;
  padding-left: 72px;

  list-style: none;
}

.monopods__item {
  margin-bottom: 46px;
}

.monopods__item:nth-child(2n) .monopod__link{
  width: 230px;
}

.monopod--new::before {
  content: 'new';
  position: absolute;
  top: 29px;
  right: 27px;

  width: 56px;
  height: 56px;

  font-size: 14px;
  line-height: 56px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
}

.monopod {
  position: relative;
  width: 360px;
}

.monopod:hover .monopod__image{
  opacity: 0.7;
}

.monopod:hover .monopod__hover{
  display: flex;
}

.monopod__hover {
  position: absolute;
  top: 171px;
  left: calc(50% - 99px);
  width: 200px;
  display: none;
  flex-direction: column;
}

.monopod__figure {
  margin: 0;
  padding: 0;
}

.monopod__image {
  margin-bottom: 22px;
}

.monopod__description {
  display: flex;
  justify-content: space-between;
}

.monopod__link {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.monopod__price {
  margin: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.monopod__basket {
  margin-bottom: 7px;
}

.monopod__compare {
  font-family: 'Open Sans', 'Arial', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;

  opacity: 0.5;
}

.monopod__compare:hover {
  opacity: 1;
}

.monopod__compare:active {
  opacity: 0.2;
}

.monopods__pagination {
  margin-top: -11px;
  margin-left: auto;
  margin-bottom: 76px;
}

.pagination {
  display: flex;
  align-items: baseline;
  width: 760px;
}

.pagination {
  background-color: #ebebeb;
}

.pagination__button {
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 22px;
  padding-left: 30px;
}

.pagination__button--back {
  margin-right: 209px;
}

.pagination__button--forward {
  margin-left: auto;
  padding-right: 28px;
}

.pagination__button,
.pagination__item a {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.pagination__button:hover {
  background-color: #d9d9d9;
}

.pagination__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 22px;

  list-style: none;
}

.pagination__item {
  margin-right: 28px;
}

.pagination__item {
  opacity: 0.3;
}

.pagination__item:hover {
  opacity: 0.6;
}

.pagination__item:active {
  opacity: 1;
}

.pagination__item--current {
  opacity: 1;
}

