@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  /*width: 1200px;
  margin: 0 auto;
  padding: 0 20px;*/

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
}

.container-header {
  width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.main-navigation {
  background-color: #f7e296;
}

.page-header__wrapper {
  display: flex;
  margin-bottom: 45px;
}

.page-header__logo {
  display: block;
}

.page-header__logo,
.footer-navigation__logo {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
}

.page-header__logo:hover,
.footer-navigation__logo:hover,
.form-search__input:hover,
.user-navigation li:hover {
  opacity: 0.6;
}

.page-header__logo:active,
.footer-navigation__logo:active,
.user-navigation li:active {
  opacity: 0.3;
}

.form-search {
  width: 240px;
  margin-right: 300px;
}

.form-search__input {
  font-weight: normal;

  opacity: 0.3;
  background-color: transparent;
  border: none;
}


.form-search__input:focus {
  opacity: 1;
}


.form-search__submit {
  display: none;
}

.user-navigation,
.catalog {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-list {
  padding: 0;
  list-style: none;
}

.user-navigation li {
  font-weight: normal;
}

.user-navigation a {
  color: #000000;
}

.user-navigation {
  display: flex;
}

.user-navigation--extra {
  margin-left: auto;
}

.catalog li {
  font-weight: normal;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: normal;
}

.navigation-list {
  display: flex;
}

.navigation-list__catalog {
  width: 300px;
  margin-right: 240px;
}

.navigation-list__item:last-child {
  margin-left: auto;
}

.navigation-list__item:nth-child(2) {
  width: 158px;
}

.navigation-list__item a {
  color: #000000;
}

.navigation-list__item {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-list__item a:hover {
  opacity: 0.6;
}

.navigation-list__item a:active {
  opacity: 0.3;
}

.catalog li {
  line-height: 36px;
}

.goods {
  list-style: none;
}

.goods__item {
  display: flex;
  justify-content: space-between;
}

.goods__wrapper-image {
  margin: 0 auto;
}


.goods__wrapper {
  width: 500px;
  margin-right: 60px;
}

.goods__image {
  margin: 0 auto;
}

.goods__number {
  margin: 0;
  padding: 0;

  font-size: 179px;
  line-height: 179px;
}

.goods__title {
  font-size: 47px;
  line-height: 56px;
}

.goods__description {
  font-weight: normal;
}

.table {
  font-weight: normal;
}

.table__first-row {
  font-size: 13px;
  line-height: 20px;
}

.table__second-row {
  font-size: 36px;
  line-height: 48px;
}

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.categories__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.categories__item {
  width: 160px;

  font-size: 18px;
  line-height: 24px;
}

.categories__item a {
  color: #000000;
}

.categories__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  background-color: #e5e5e5;
}

.services__wrapper {
  display: flex;
}

.services__controls {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-right: 120px;
}

.services__controls label {
  width: 160px;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.services__controls label:hover {
  background-color: #f0c52e;
}

.services__controls label:active {
  color: #f7e184;
  background-color: #000000;
}

.services__item {
  width: 460px;
}

.services__list {
  list-style: none;
}

.services__title {
  font-size: 47px;
  line-height: 48px;
}

.services__description {
  font-weight: normal;
}

.brands__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.brands__item {
  width: 260px;
}

.brands__link:hover .brands__image {
  filter: none;
}

.information__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 560px;
}

.about-us {
  width: 500px;
}

.contacts {
  width: 580px;
}

.contacts,
.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-us__link,
.contacts__link {
  margin-top: auto;
}

.about-us__title,
.contacts__title {
  font-size: 47px;
  line-height: 48px;
}

.about-us__text,
.about-us__text-more,
.contacts__text {
  font-weight: normal;
}

.companies-list {
  list-style: none;
}


.page-footer {
  color: #ffffff;

  background-color: #464646;
}

.footer-navigation {
  display: flex;
}

.footer-navigation__logo {
  color: #ffc600;
}

.footer-navigation__list {
  margin: 0;
  padding: 0;
}

.footer-navigation__list--user {
  margin-left: auto;
}

.footer-navigation__list {
  display: flex;
}

.footer-navigation__login {
  width: 70px;
  margin-right: 30px;
}

.footer-navigation__compare {
  width: 100px;
  margin-right: 40px;
}

.footer-navigation__list li{
  font-weight: normal;
  line-height: 36px;
  list-style: none;
  opacity: 0.7;
}

.footer-navigation__list li:hover {
  opacity: 1;
}

.footer-navigation__list li:active {
  opacity: 0.3;
}

.footer-navigation__list a,
.footer-services a {
  color: #ffffff;
}

.footer-navigation__logout a {
  opacity: 0.3;
}

.footer-information {
  display: flex;
}

.footer-address {
  width: 260px;
  margin-right: 100px;

  font-weight: normal;
}

.footer-services {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-services li {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-services li:hover {
  opacity: 0.6;
}

.footer-services li:active {
  opacity: 0.3;
}

.footer-phone {
  align-self: center;
  margin-left: auto;

  font-weight: normal;
  color: #ffffff;
}

.footer-links {
  display: flex;
}

.footer-links__socials {
  margin-left: 500px;

  list-style: none;
}

.footer-links__academy {
  margin-left: auto;
}

.map-popup__image {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.write-us {
  width: 960px;
  margin: 0 auto;
}

.write-us__form {
  width: 760px;
  margin: 0 auto;
}

.write-us__wrapper {
  display: flex;
  justify-content: space-between;
}

.write-us__wrapper p {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.write-us__text {
  display: flex;
  flex-direction: column;
}

.write-us__form label {
  font-size: 18px;
  line-height: 24px;
}

.write-us__name,
.write-us__email,
.write-us__textarea {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  background-color: #f2f2f2;
  border: none;
}

.write-us__name:hover,
.write-us__email:hover,
.write-us__textarea:hover {
  background-color: #eaeaea;
}

.write-us__name:focus,
.write-us__email:focus,
.write-us__textarea:focus {
  background-color: #ffffff;

  border: 3px solid #f0c52e;
}

.write-us__name:invalid,
.write-us__email:invalid {
  background-color: #f6dada;
}

.page-main__title {
  padding-left: 60px;

  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 60px;

  list-style: none;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 40px;
}

.breadcrumbs a {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-page {
  background: linear-gradient(to right, #dcdcdc 0%, #dcdcdc 30%, #eeeeee 50%, #eeeeee 100%);
}

.catalog-page__header {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-page__body {
  background: linear-gradient(to right, #eee 0%, #eee 30%, #fff 30%, #fff 100%);
}

.catalog-page__wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.filter,
.filters {
  box-sizing: border-box;
  width: 328px;
  padding-left: 60px;
}

.filter,
.sort__title {
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter {
  background-color: #dcdcdc;
}

.filters {
  background-color: #eeeeee;
}

.filters__form legend {
 font-size: 18px;
 line-height: 24px;
}

.filters__form fieldset {
  padding: 0;

  border: none;
}

.range__label {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.2;
}

.filters__list-colors,
.filters__list-bluetooth {
  font-weight: normal;
  font-size: 14px;
  list-style: none;
}

.filters__list-colors input:disabled ~ label,
.filters__list-bluetooth input:disabled ~ label{
  color: #a6a6a6;
}

.sort {
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 830px;
  padding-left: 72px;

  background-color: #eeeeee;
}

.sort__list {
  display: flex;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
}

.sort__list a {
  color: #000000;
  opacity: 0.3;
}

.sort__list a:hover {
  opacity: 0.6;
}

.sort__list a:active {
  opacity: 1;
}

.sort__item--current a{
  opacity: 1;
}

.sort__up-down {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.monopods__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
  margin: 0;
  padding: 0;
  padding-left: 70px;

  list-style: none;
}



.monopods__item {
  width: 360px;
}

.monopod__figure {
  margin: 0;
  padding: 0;
}

.monopod__description {
  display: flex;
  justify-content: space-between;
}

.monopod__link {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.monopod__price {
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.monopod__compare {
  font-weight: normal;
  font-size: 13px;
  line-height: 36px;
  opacity: 0.5;
}

.monopod__compare:hover {
  opacity: 1;
}

.monopod__compare:active {
  opacity: 0.2;
}

.pagination {
  display: flex;
  align-items: baseline;
  width: 760px;
  margin-left: 70px;
}

.pagination {
  background-color: #ebebeb;
}

.pagination__back {
  margin-right: 200px;
}

.pagination__forward {
  margin-left: auto;
}

.pagination__back,
.pagination__forward,
.pagination__item a {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.pagination__back:hover,
.pagination__forward:hover {
  background-color: #d9d9d9;
}

.pagination__back:active,
.pagination__forward:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item a {
  opacity: 0.3;
}

.pagination__item--current a {
  opacity: 1;
}

